<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.felton.mybatismapper.dao.IPictureDao">

    <insert id="insertSetBean" parameterType="com.felton.mybatismapper.entity.Picture"
            keyColumn="id" keyProperty="id" useGeneratedKeys="true"  >
      INSERT INTO picture (name, content)
      VALUES (#{name},#{content});
    </insert>
</mapper>